.wrapper {
  display: grid;
  grid-template-columns: auto minmax(320px, 1440px) auto;
  grid-template-areas:
    ". content .";
}

.container {
  display: flex;
  flex-direction: column;
  gap: 60px;

  width: 100%;

  grid-area: content;

  @apply py-[80px] px-[20px] xl:px-[130px] lg:px-[80px] md:px-[60px] sm:px-[40px];
  
  .block {
    @apply w-full flex flex-col items-center mt-[20px];
  }
  .gridBlock {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(2, 100px);
    grid-gap: 30px;
  }
  @media screen and (min-width: 0px) {
    .gridBlock {
      grid-template-columns: repeat(2, 100px);
      grid-template-rows: repeat(5, 100px);
    }
  }
  @media screen and (min-width: 1024px) {
    .gridBlock {
      grid-template-columns: repeat(5, 100px);
      grid-template-rows: repeat(2, 100px);
    }
  }
}