.wrapper {
  display: grid;
  grid-template-columns: auto minmax(320px, 1440px) auto;
  grid-template-areas:
    ". content .";

  @apply mb-[20px] pt-[40px] px-[20px] xl:px-[130px] lg:px-[80px] md:px-[60px] sm:px-[40px];
}

.container {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 100%;
  border-radius: 6px;

  grid-area: content;
  
  .block {
    display: flex;
    flex-direction: column;
    gap: 30px;
    
    width: 100%;
  }
}