.wrapper {
  display: grid;
  grid-template-columns: auto minmax(320px, 1440px) auto;
  grid-template-areas:
    ". content .";
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  grid-area: content;

  @apply py-[20px] px-[20px] xl:px-[130px] lg:px-[80px] md:px-[60px] sm:px-[40px];

  .bar {
    position: relative;

    max-width: 100%;
    overflow: hidden;

    border-radius: 15px;

    @apply py-[30px] px-[60px];

    svg {
      @apply w-[50px] stroke-white h-[50px];
    }

    .scrolled {
      overflow-x: scroll;

      color: #00C2FF;
      font-weight: 400;
      line-height: 140%;

      @apply w-full text-[20px] 2xl:text-[26px] lg:text-[24px] sm:text-[22px] flex gap-[40px] items-center justify-between sm:px-[40px];

      .tab {
        cursor: pointer;
        white-space: nowrap;
      }

      .active {
        font-weight: 600;
      }

      button {
        white-space: nowrap;
      }
    }

    &::after {
      left: 50%;
      top: 50%;
      background: radial-gradient(50% 50% at 50% 50%, #FF8A32 0%, rgba(255, 138, 50, 0) 100%);
    }

    &::before {
      left: 70%;
      top: 70%;
      background: radial-gradient(50% 50% at 50% 50%, #00C2FF 0%, rgba(0, 194, 255, 0) 100%);
    }

    &::after,
    &::before {
      content: "";
      position: absolute;

      width: 1657px;
      height: 383px;

      opacity: 0.2;
      transform: translate(-50%, -50%);

      z-index: -10;
    }
  }
  .scrollBtn {
    @apply xl:w-full xl:px-[100px] flex flex-row items-center justify-between;
    svg {
      @apply xl:h-[60px];
    }
    .points {
      .notChecked {
        @apply text-6xl text-[#2D2E52];
      }
      .checked {
        @apply text-6xl p-[3px] text-white;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;

    width: 100%;

    .swiper {
      overflow: hidden !important;
      border-radius: 15px;

      @apply w-full;

      .slideWrapper {
        @apply w-full flex justify-center items-center;
        //overflow: hidden;

        .slideBlock {
          @apply w-full h-[500px];
          background-position: center !important;
          background-size: contain !important;
          background-repeat: no-repeat !important;
        }

        img {
          @apply max-w-full max-h-[500px];
        }
      }
    }

    .block {
      position: relative;

      width: 100%;

      border-radius: 15px;

      color: #ffffff;
      font-weight: 400;
      font-size: 26px;
      line-height: 140%;

      overflow: hidden;

      @apply p-[30px];

      &::after {
        left: 40%;
        top: 40%;
        background: radial-gradient(50% 50% at 50% 50%, #FF8A32 0%, rgba(255, 138, 50, 0) 100%);
      }

      &::before {
        left: 70%;
        top: 60%;
        background: radial-gradient(50% 50% at 50% 50%, #00C2FF 0%, rgba(0, 194, 255, 0) 100%);
      }

      &::after,
      &::before {
        content: "";
        position: absolute;

        width: 1400px;
        height: 1100px;

        opacity: 0.2;
        transform: translate(-50%, -50%);

        z-index: -10;
      }
    }

    .donateButtonContainer {
      @apply absolute w-full h-full top-0 left-0;

      .donate {
        @apply absolute bottom-0 right-0 w-[100px] h-[100px]
        translate-y-[50%] translate-x-[10%] sm:translate-x-[30%];

        a {
          @apply font-semibold;
        }
      }
    }
  }
}

.swiper {
  width: 100%;
}
