.sliderContainer {
  .swiper {
    @apply w-full;
    overflow: hidden !important;

    .slideWrapper {
      @apply w-full flex justify-center items-center;

      .slideBlock {
        @apply w-full h-full;
        background-position: center !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
      }

      img {
        @apply w-full object-contain object-center;
      }
    }
  }
}
