.teammateContainer {
  @apply w-full h-full flex flex-col gap-[10px] justify-center items-center transition-all;

  &:hover {
    @apply scale-[102%];
  }

  .imageContainer {
    @apply bg-[#fff] w-[180px] h-[200px] rounded-[20px] overflow-hidden flex justify-center items-end;
    img {
      @apply w-full;
    }
  }
  p {
    @apply font-medium text-[18px];
  }
}

.modalWindow {
  @apply w-full;
  label {
    @apply cursor-pointer block w-full py-[13px] px-[16px] bg-transparent
    border-[2px] border-[#fff]/20 my-[30px];

    p {
      @apply text-[14px] font-medium text-[#fff]/50
    }

    input[type="file"] {
      opacity: 0;
      position: absolute;
      z-index: -1;
    }
  }
  .btns {
    @apply flex flex-col gap-[10px] sm:flex-row justify-between;
  }
}
