.wrapper {
  display: grid;
  grid-template-columns: auto minmax(320px, 1440px) auto;
  grid-template-areas:
    ". content .";
}

.container {
  display: flex;
  flex-direction: column;
  gap: 60px;

  width: 100%;

  grid-area: content;

  @apply py-[80px] px-[20px] xl:px-[130px] lg:px-[80px] md:px-[60px] sm:px-[40px];
}

.posts {
  width: 100%;
}