.wrapper {
  //height: 450px;
  display: grid;
  grid-template-columns: auto minmax(320px, 1440px) auto;
  grid-template-areas:
    ". content .";

  @apply mb-[20px] pt-[40px] px-[20px] xl:px-[130px] lg:px-[80px] md:px-[60px] sm:px-[40px];
}

.container {
  position: relative;

  display: flex;
  gap: 30px;

  width: 100%;

  grid-area: content;

  border-radius: 6px;
  overflow: hidden;

  @apply flex-col md:flex-row;
  @apply px-[30px] 2xl:px-[80px] xl:px-[70px] lg:px-[60px] md:px-[50px] sm:px-[40px];
  @apply py-[20px] 2xl:py-[50px] xl:py-[45px] lg:py-[40px] md:py-[35px] sm:py-[30px];

  &::after {
    width: 1470px;
    height: 990px;

    left: 70%;
    top: 60%;
    background: radial-gradient(50% 50% at 50% 50%, #FF8A32 0%, rgba(255, 138, 50, 0) 100%);
  }

  &::before {
    width: 1300px;
    height: 1180px;

    left: 20%;
    top: 50%;
    background: radial-gradient(50% 50% at 50% 50%, #00C2FF 0%, rgba(0, 194, 255, 0) 100%);
  }

  &::after,
  &::before {
    content: "";
    position: absolute;

    opacity: 0.2;
    transform: translate(-50%, -50%);

    z-index: -10;
  }

  .inner {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @apply w-full md:w-1/2;
    @apply items-center md:items-start;

    .buttons {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;

      button {
        @apply w-[250px] h-[40px] bg-yellow-400 text-black rounded-lg font-[500];
      }
      //button:first-child {
      //  background-color: #348AB8;
      //}

      .way {
        display: block;

        width: 200px;
        padding: 6px 20px;

        border-radius: 4px;
        background: #5B18E2;

        text-align: center;
      }
    }
  }
}