.wrapper {
  @apply px-[20px] sm:px-[130px] lg:py-[80px];

  .container {
    @apply w-full flex flex-col lg:flex-row justify-between items-center px-[20px] sm:px-[30px] lg:px-[60px] lg:py-[50px] relative;

    .gradient {
      position: absolute;
      left: 0; right: 0; top: 0; bottom: 0;

      border-radius: 6px;

      z-index: -2;
      overflow: hidden;

      &::after {
        width: 1470px;
        height: 990px;

        left: 70%;
        top: 60%;
        background: radial-gradient(50% 50% at 50% 50%, #FF8A32 0%, rgba(255, 138, 50, 0) 100%);
      }

      &::before {
        width: 1300px;
        height: 1180px;

        left: 20%;
        top: 50%;
        background: radial-gradient(50% 50% at 50% 50%, #00C2FF 0%, rgba(0, 194, 255, 0) 100%);
      }

      &::after,
      &::before {
        content: "";
        position: absolute;

        opacity: 0.2;
        transform: translate(-50%, -50%);

        z-index: -10;
      }
    }

    .inner {
      @apply w-full lg:w-1/2 h-1/2 lg:h-full;

      .buttons {
        @apply w-full h-1/2 flex flex-col items-start justify-between mt-[10px];

        a:last-child {
          @apply w-full border border-yellow-300 mb-[15px] lg:w-2/6 h-[40px] lg:h-[40px] bg-transparent rounded-lg text-yellow-300 flex items-center justify-center;
          transition: .3s;
        }

        img {
          @apply w-5/6;
        }

        a:first-child {
          @apply w-full border border-blue-300 mb-[15px] lg:w-2/6 h-[40px] lg:h-[40px] bg-transparent text-blue-300 rounded-lg flex items-center justify-center;
          transition: .3s;
        }
        a:first-child:hover {
          @apply bg-blue-300 text-white;
        }
        a:last-child:hover {
          @apply bg-yellow-300 text-white;
        }
      }
    }
  }
}