.container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 60px;
  height: 60px;

  background-color: #FFED00;
  border-radius: 100%;

  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #00012F;

  @apply rotate-[-11deg];
}
