.container {
  .btns {
    @apply mt-[20px] flex flex-col sm:flex-row justify-end gap-[20px];
  }

  .modalWindow {
    @apply w-full;
    label {
      @apply cursor-pointer block w-full py-[13px] px-[16px] bg-transparent
      border-[2px] border-[#fff]/20 my-[30px];

      p {
        @apply text-[14px] font-medium text-[#fff]/50
      }

      input[type="file"] {
        opacity: 0;
        position: absolute;
        z-index: -1;
      }
    }
    button {
      @apply w-full sm:w-auto rounded-[4px] px-[30px] py-[7px] text-[#fff] text-[20px] font-medium
      bg-[#00A6FF] mt-[10px];
    }
  }
}
