.header {
    width: 100%;
}

.topBar {
    display: grid;

    grid-template-columns: auto minmax(320px, 1400px) auto;
    grid-template-areas: 
        ". content .";

    padding: 5px 10px;

    background: var(--black);
    color: var(--white);
    font-weight: 200;
    font-size: 12px;
}

.topBar > * > * {
    justify-self: end;
}

.mainContent {
    display: grid;

    width: 100%;
    
    grid-template-columns: auto minmax(320px, 1400px) auto;
    grid-template-areas: 
        ". content .";

    padding: 15px 10px;

    background: #ffffffce;
    color: var(--black);

    backdrop-filter: blur(4px);
}

.container {
    display: grid;
    grid-area: content;

    width: 100%;

    grid-template-columns: auto 1fr auto;

    align-items: center;
    justify-items: center;
    justify-content: space-between;

    background: none;
}

.logo {
    font-size: 16px;
    font-weight: 600;
}

.navigation {
    display: flex;

    font-weight: 400;
    gap: 30px;
}

.navigation a:hover {
    color: var(--primary);
    transition: (--transition);
}

.support {
    padding: 8px 20px;

    background: var(--black);
    color: var(--primary);

    border: 1px solid #ffffff00;
    border-radius: 2px;

    transition: var(--transition);
}

.support:hover {
    background: none;
    border: 1px solid var(--black);
    opacity: .7;
}