.wrapper {
  display: grid;
  grid-template-columns: auto minmax(320px, 1440px) auto;
  grid-template-areas: 
        ". content .";

  @apply mt-[30px];
}

@media (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr !important;
    justify-items: center !important;
  }
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
  
  width: 100%;

  grid-area: content;
  
  @apply py-[30px] px-[20px] xl:px-[130px] lg:px-[80px] md:px-[60px] sm:px-[40px];

  .side {
    display: flex;
    align-items: center;
    gap: 60px;

    img {
      width: 52px;
    }

    a {
      font-weight: 500;
      font-size: 16px;
      line-height: 30px;
      color: #FFFFFF;

      &:hover {
        transition: .2s all;
        opacity: .7;
      }
    }
  }

  .contacts {
    display: flex;
    align-items: center;
    gap: 30px;

    a {
      img {
        width: 25px;

        &:hover {
          transition: .2s all;
          opacity: 0.7;
        }
      }
    }

    a:last-child {
      &:hover {
        transition: .2s all;
        text-decoration: underline;
      }
    }
  }

  .functionalBlock {
    display: flex;
    align-items: center;
    gap: 35px;

    button {
      &:hover {
        text-decoration: line-through;
      }
    }

    a {
      padding: 8px 16px;
  
      background-color: #FFED00;
      border-radius: 6px;
      border: 2px solid #FFED00;
  
      font-size: 14px;
      font-weight: 500;
      color: #00012F;
  
      &:hover {
        transition: .2s all;
        color: #FFED00;
        background: none;
      }
    }
  }
}